

<section class="d-flex flex-column justify-content-center align-items-center">
    <app-header  [data]="'about component'" class="text-white"></app-header>
<div class="container">
    <div class="row justify-content-center text-white">
        <div class="col-md-5">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-5">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

        </div>
    </div>
</div>
</section>