


<section class="mt-5 py-5">
    <div class="container">
    <div class="row gy-4 justify-content-center">
        <app-header  [data]="'contact component'" [dark]="true"  ></app-header>
        <div class="col-md-7 ">
        <div class="form-floating mb-3 ">
          <input    type="email"     class="form-control  border-0 border-bottom mb-4 "   id="input1"   placeholder="" />
          <label for="input1">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input    type="text"     class="form-control border-0 border-bottom mb-4 "   id="input2"   placeholder="" />
            <label for="input2">User Age</label>
          </div>

          <div class="form-floating mb-3">
            <input    type="email"     class="form-control border-0 border-bottom mb-4 "   id="input3"   placeholder="" />
            <label for="input3">UserName</label>
          </div>

          <div class="form-floating mb-3">
            <input    type="password"     class="form-control border-0 border-bottom mb-4 "   id="input4"   placeholder="" />
            <label for="input4">UserPassword</label>
          </div>
          <button type="button" class="btn ">Primary</button>
        </div>

    </div>
    </div>
    </section>
    