

<section class="mt-5 pt-5">
<div class="container">
<div class="row gy-4">
    <app-header  [data]="'portfolio component'" [dark]="true"></app-header>
@for (item of GalleryList; track $index) {
    <div class="col-md-6  col-lg-4">
     <figure class="position-relative">
        <img [src]="item" class="w-100 rounded-2">
        <div  (click)="displayPhoto(item)"  class="layer d-flex justify-content-center align-items-center position-absolute  top-0 start-0 end-0 bottom-0 ">
            <i class="fa-solid fa-plus fa-2xl"></i>
                        </div>              
     </figure>

        
    </div>
}
</div>
</div>
</section>




<div  [class.d-none]="displayMOdel"  class="photoModel  d-flex justify-content-center align-items-center">
    <div class="position-relative">
    <img [src]="currentPhoto" class="W-50">
    <i  (click)="closePhoto()"  class="fa-solid fa-x position-absolute"></i>
    <i (click)="nextPhoto()"  class="fa-solid fa-arrow-right position-absolute"></i>
    <i  (click)="perviousPhoto(currentPhoto)"   class="fa-solid fa-arrow-left position-absolute"></i>
    </div>
    </div>







